.mdxeditor {
  overflow-y: auto;
}
.mdxeditor::-webkit-scrollbar {
  display: none;
}

.mdxeditor {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.mdxeditor {
  --baseTextContrast: black;
}
.dark .mdxeditor {
  --baseBg: #0e1421;
  --baseTextContrast: var(--baseBorderHover);
  --baseBgActive: var(--slate-11);
  --basePageBg: var(--slate-12);
  --baseText: white;
}
.mdxeditor h1,
.mdxeditor h2,
.mdxeditor h3,
.mdxeditor h4,
.mdxeditor h5,
.mdxeditor h6, 
.mdxeditor strong {
  color: var(--muted-foreground);
}
.mdxeditor a {
  color: var(--primary);
}
.mdxeditor blockquote {
  color: var(--baseTextContrast);
}
